/* Common Styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;

}

.banner-description {
    margin-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}

.our-featured,
.instagram,
.latest-deals {
    margin-left: 150px;
    margin-right: 150px;
}


/* header style */
.head, .bonus-part {
    background: rgba(229, 84, 115, 0.10);


}

.banner {

    padding: 30px 0px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 700;
    width: 708px;
    height: 288px;
}

.head-pic {

    width: 600px;
    height: 700px;


}

.content {
    max-width: 600px;


}


.btn-primary {
    margin-top: 32px;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #fff;
}


/* Our Featured Section */

.our-featured {
    height: 100vh;
    padding-top: 15vh;
    text-align: center;

}

.featured-title {
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 11px;
}

.featured-des {
    font-weight: 400;
    font-size: 13px;
    padding-bottom: 35px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
}

.all-img {
    display: flex;
    justify-content: space-between;
    height: 55vh;
    gap: 20px;
}

.images {
    flex: 25%;
    width: 40px;
    height: 100%;
    object-fit: contain;
    padding: 50px 50px 0 50px;
}

.img1 {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.img2 {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.img3 {
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.flower-name {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.flower-name p {
    font-weight: 800;
    font-size: 15px;
    text-decoration: underline;
}


/* Hot Deals section */

.container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    text-align: center;
    height: 500px;
}

.title-container {
    padding-left: 200px;
}

.hot-deal-image {
    padding-right: 200px;
}

span {
    color: #E55473;
}

.btn-primary {
    margin-top: auto;
}


/* Instagram Section*/

.instagram-img {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* align-items: center; */

    height: 300px;

}

.instagram {
    height: 500px;
    text-align: center;
    padding-top: 30px;

}

/* Latest Deals */

.latest-deals {
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 70px;
    padding: 70px 0 0px 0;
    /* width: 1440px; */
    height: 419px;



}

.latest-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.latest-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
}

.latest-input {
    /* width: 500px;
    height: 30px; */

    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 50px;
    
}


/* Bonus Section */

.bonus-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 80px 0px;
    padding: 0 180px 0 180px;
    height: 400px;
   
}

.bonus-title-description{
    border: 2px solid red;
    border-radius: 10px;
    /* height: 400px; */
    text-align: center;
    padding: 50px 20px 50px 20px;
    text-shadow: 2px 2px 5px red
    
}

.btn-primary:hover{
    cursor: pointer;
    background-color: rgb(76, 0, 255);
}

.gift-image{
    width: 300px;
    padding-right: 0px;
    margin: 0;
}

.gift-section{
    padding-top: 40px;
    padding-bottom: 0;
}




/* Footer */

.footer{
     background: #111010;
     color: #fff;
     text-align: center;
     padding: 80px 0 80px 0;
     text-align: center;
     margin-top: 20px;
}

.footer-title{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #FFFFFF66
}